@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,900&family=Inter:wght@300;400;500;600;700&display=swap');


html,
body {
    color: #191919;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
}

.section-title {
    margin-top: 120px;
    margin-bottom: 90px;

    .title {
        color: #F94D1C;
        font-size: 18px;
        font-weight: 400;
    }

    p {
        line-height: 2.0;
    }

    h2 {
        font-family: 'DM sans', 'Sans Serif';
        font-size: 28px;
        color: #191919;
        font-weight: 700;

        @media (min-width: 650px) {
            font-size: 45px;
        }

    }
}

.informative-text {
    h3 {
        font-family: 'DM sans', 'sans-serif';
        font-size: 22px;
        font-weight: 700;
    }

    h4 {
        font-family: 'DM sans', 'sans-serif';
        font-size: 16px;

    }

    p {
        font-family: 'inter', 'sans-serif';
        font-size: 16px;
    }
}


.round-btn {
    background-color: #191919;
    color: #DAD9D3;
    border: 1px solid #191919;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #DAD9D3;
        color: #191919;
    }
}

.btn-yellow {
    background-color: #F9D783;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;


    @media (min-width:576px) {
        width: 400px;
    }

    @media (min-width: 1400px) {
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 50px;
        text-align: center;
    }

    i {
        margin-left: 10px;
    }

    &:hover {
        background-color: #191919;
        color: #DAD9D3;
    }
}

.btn-outline {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

    @media (min-width:576px) {
        width: 400px;
    }

    @media (min-width: 1400px) {
        width: 200px;
        height: 50px;
    }

    i {
        margin-left: 10px;
    }

    &:hover {
        background-color: #191919;
        color: #DAD9D3;
    }

}

.btn-dark {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

    @media (min-width:576px) {
        width: 400px;
    }

    @media (min-width: 1200px) {
        margin-left: 0px;
        margin-right: 30px;
        text-align: center;
    }

    @media (min-width: 1400px) {
        width: 200px;
        height: 50px;
    }

    i {
        margin-left: 10px;
    }

    &:hover {
        background-color: #DAD9D3;
        color: #191919;
    }
}

.btn-parent {
    text-align: center;
}

header {
    background-color: #F0EFE9;
    padding-top: 12px;

    .container {
        display: flex;
        height: min-content;
        align-items: center;
        justify-content: space-between;

        .menu-bars {
            font-size: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;
                justify-content: flex-end;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }


                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {
                        justify-content: space-between;
                        display: flex;
                    }

                    .content-box {
                        padding-right: 20px;
                        margin-right: 20px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        .i {
                            margin-right: 5px;
                            font-size: 1.2em;
                            color: #666666;
                        }

                        &.last {
                            border-right: none;
                        }
                    }
                }

                .social-media {

                    a {
                        font-size: 1.3rem;
                        color: #191919;
                        margin-left: 10px;

                        &:hover {
                            color: #666666;
                        }
                    }
                }
            }

            .main-menu {
                display: flex;
                justify-content: space-around;
                align-items: center;

                @media (min-width:1000px) {
                    justify-content: space-between;
                }

                nav {
                    margin-top: 15px;

                    a {
                        display: inline-block;
                        text-decoration: none;
                        color: #191919;
                        margin-right: 30px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: "";
                            position: absolute;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }

                .btn-yellow {
                    width: 125px;
                    height: 50px;
                    margin-top: 15px;
                    font-weight: 400;
                }
            }


        }
    }
}

//CONTACT-PAGE
.connect {
    padding: 100px 30px;
    background-color: #F0EFE9;

    position: relative;
    z-index: 0;

    .background-lines {
        max-width: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .container {
        display: flex;
        justify-content: center;

        .headline {
            p {
                margin-top: 20px;
                margin-bottom: 25px;
                font-size: 20px;
                opacity: 70%;
                text-align: center;
            }

            h1 {
                font-family: 'DM sans', 'sans-serif';
                font-size: 30px;
                text-align: center;

                @media (min-width:576px) {
                    font-size: 50px;
                }

                @media (min-width: 1400px) {
                    text-align: left;
                    font-size: 56px;
                }
            }
        }
    }
}

.contact-info {
    .container {
        padding: 110px 0px 70px 0px;

        .flex-box {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            flex-direction: column;
            align-items: center;

            @media (min-width: 1200px) {
                flex-direction: row;
            }

            .contact-box {
                border: 1px solid rgb(156, 156, 156);
                width: 70vw;
                height: fit-content;
                padding: 30px 0;
                display: grid;
                grid-template-columns: auto fit-content;
                grid-template-rows: auto fit-content;
                grid-template-areas:
                    "icon headline"
                    "icon information";
                align-items: start;
                position: relative;
                gap: 10px;
                margin: 0 auto;

                @media (min-width:576px) {
                    padding: 50px;
                }

                @media (min-width:768px) {
                    column-gap: normal;
                    width: 420px;
                    padding: 50px;
                }


                .contact-icon {
                    grid-area: icon;
                    margin: 0;
                    position: absolute;
                    right: 15px;
                    top: 3px;
                    font-size: x-large;
                    display: none;

                    @media (min-width:576px) {
                        display: block;
                    }
                }

                .contact-headline {
                    grid-area: headline;

                }

                .information {
                    grid-area: information;
                    margin: 0;
                }

            }
        }
    }
}

.contact-form {
    margin: 100px 0;

    .container {
        background-color: #F0EFE9;
        padding: 40px 0;

        @media (min-width: 1400px) {
            padding: 90px;
        }

        .headline-form {
            h2 {
                text-align: center;
                max-width: 40%;
                margin: 0 auto;

            }
        }

        .section-title {
            margin-bottom: 50px;
        }

        .form-wrapper {

            #form {
                label {
                    display: block;
                    padding: 5px 0;
                    margin: 0 auto;
                }

                .form-input {
                    width: 80%;
                    display: block;
                    padding: 15px;
                    padding-left: 30px;
                    margin: 0 auto;
                    border-radius: 30px;
                    border: none;
                }

                textarea {
                    resize: none;
                    height: 150px;
                }

                .btn-yellow {
                    margin-top: 40px;
                }
            }
        }
    }
}

.map {
    padding: 0;
    margin: 0;

    .google-map {
        padding: 0;
        margin: 0;

        iframe {
            width: 100vw;

        }

    }
}

// HOME-PAGE
.showcase {
    padding: 30px;
    background-color: #F0EFE9;
    padding-top: 100px;
    position: relative;
    z-index: 0;


    .background-lines {
        max-width: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .container {
        display: flex;
        justify-content: center;

        .content {
            display: inline-block;

            .slogan-showcase {
                h1 {
                    font-family: 'DM sans', 'sans-serif';
                    font-size: 30px;
                    text-align: center;

                    @media (min-width:576px) {
                        font-size: 50px;
                    }

                    @media (min-width: 1200px) {
                        font-size: 80px;
                    }

                    @media (min-width: 1400px) {
                        text-align: left;
                        font-size: 90px;
                    }
                }

                p {
                    margin-top: 20px;
                    margin-bottom: 25px;
                    font-size: 20px;
                    opacity: 70%;
                    text-align: center;

                    @media (min-width: 1400px) {
                        text-align: left;
                    }
                }
            }

            .buttons-showcase {
                text-align: center;
                margin-bottom: 50px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (min-width: 1400px) {
                    text-align: left;
                    display: block;
                }

                .btn-yellow {
                    font-weight: 400;
                    margin-bottom: 15px;
                    margin-right: 0;

                    @media (min-width: 1400px) {
                        margin-right: 15px;
                        margin-bottom: 0;
                        width: 200px;
                    }

                    // i {
                    //     margin-left: 10px;
                    // }

                    // &:hover {
                    //     background-color: #f4e4bc;
                    // }
                }

                // .btn-outline {
                //     // width: 180px;
                //     // height: 50px;
                //     // border-radius: 50px;
                //     // font-weight: 400;
                //     // font-size: 16px;

                //     // @media (min-width:500px) {
                //     //     width: 400px;
                //     // }


                //     // @media (min-width: 1400px) {
                //     //      width: 200px;
                //     //     height: 50px;
                //     //  }

                //     // i {
                //     //     margin-left: 10px;
                //     // }

                // }
            }


        }

        img {
            display: none;
            align-items: end;
            margin-right: -50px;

            @media (min-width: 1400px) {
                display: block;

            }
        }
    }
}

.brands {
    .container {

        .img-brands {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            padding-top: 40px;
            padding-bottom: 40px;

            @media (min-width: 650px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            @media (min-width:1300px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                height: max-content;
                width: max-content;
                margin: auto;

                @media (min-width:1300px) {
                    padding: 25px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }


            @media (min-width:1300px) {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    padding: 25px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }

        }
    }


}

.features {
    .container {
        border: 1.5px solid #DAD9D3;

        @media (min-width: 1200px) {
            display: flex;
            justify-content: center;
        }

        .section-title {
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media (min-width: 1200px) {
                display: inline-block;
                text-align: left;
                padding-left: 50px;
                margin-right: 50px;
            }

            p {
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: left;
                }
            }

            h2 {
                text-align: center;
                font-size: 28px;

                @media (min-width: 1200px) {
                    text-align: left;
                }
            }


            .btn-yellow {
                margin: auto;
                margin-top: 25px;

                @media (min-width: 1400px) {
                    width: 480px;
                }
            }
        }

        .grid-features {
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media (min-width: 1200px) {
                column-gap: 110px;
                margin-right: 150px;
                padding-top: 100px;
                padding-left: 80px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }


            .informative-text {
                margin: auto;
                margin-bottom: 50px;

                i {
                    text-align: left;
                    font-size: 30px;
                }

                h3 {
                    margin-top: 30px;
                }

                p {
                    font-weight: 400;
                }

            }

        }
    }
}

.about-company {

    .container {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 1400px) {
            flex-direction: unset;
        }

        .left-img {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: space-between;

            @media (min-width: 1400px) {
                margin-left: 100px;
                display: block;
            }

            img {
                display: none;

                @media (min-width: 576px) {
                    height: 615px;
                    max-width: 500px;
                    display: block;
                    width: max-content;
                }
            }

            .informative-text {
                background-color: #BEEBFF;
                text-align: left;
                position: absolute;
                max-width: 400px;
                display: none;

                @media (min-width: 576px) {
                    display: block;
                    width: 340px;
                    height: 180px;
                    padding: 30px;
                    bottom: 5px;
                    left: 5px;
                }

                @media (min-width: 1400px) {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    bottom: 50px;
                    left: -50px;
                    align-items: center;
                    justify-content: flex-start;
                }

                h4 {
                    color: #F94D1C;
                }
            }
        }


        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            padding: 15px;

            @media (min-width:992px) {
                padding: 0;
                text-align: left;
                align-items: left;
                justify-content: left;
            }


            @media (min-width: 1400px) {
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 100px;
                padding-left: 70px;
            }


            .about-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 15px;
                width: fit-content;
                margin: auto;
                margin-top: 120px;

                @media (min-width:576px) {
                    flex-direction: row;
                }

                @media (min-width:992px) {
                    align-items: center;
                    justify-content: left;
                }

                @media (min-width:1400px) {
                    margin: 0;
                    margin-top: 70px;
                    align-items: left;
                    justify-content: left;
                }

                a {
                    color: #191919;
                    text-decoration: none;
                    text-align: center;

                    &:hover {
                        color: #bebebe;
                    }

                }

                .round-btn {
                    background-color: transparent;
                    color: #191919;
                    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

                    &:hover {
                        background-color: #191919;
                        color: #DAD9D3;
                    }
                }
            }
        }

        .section-title {
            h2 {
                @media (min-width: 1400px) {
                    padding-right: 120px;
                    margin-top: 20px;
                }
            }


            p {
                opacity: 70%;

                @media (min-width: 1400px) {
                    padding-right: 50px;
                    margin-top: 10px;
                    margin-bottom: 0;
                }
            }

        }
    }
}

.our-services {
    background-color: #F0EFE9;
    position: relative;
    z-index: 10;

    .background-lines-right {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;


        @media (min-width: 1400px) {
            align-items: unset;
        }

        h2 {
            font-size: 28px;

            @media (min-width: 576px) {
                font-size: 45px;
            }

        }

        .boxes {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            @media (min-width:1400px) {
                flex-direction: row;
            }

            .box {
                background-color: #FFFFFF;
                position: relative;
                flex-basis: 340px;
                padding: 30px;
                flex-shrink: 0;
                flex-grow: 0;

                @media (min-width:1400px) {
                    margin-right: 20px;
                    height: 310px;
                    width: 380px;
                }


                h3 {
                    margin-top: 20px;
                    font-family: 'DM sans', 'sans-serif';
                    font-size: 22px;
                    font-weight: 700;
                }

                p {
                    row-gap: 5px;
                    font-family: 'inter', 'sans-serif';
                    font-size: 16px;
                }

                .round-btn {
                    position: absolute;
                    bottom: 40px;
                    right: 30px;
                }

                .active-btn {
                    background-color: #ffffff;
                    color: #191919;
                    border: none;

                    &:hover {
                        background-color: #191919;
                        color: #DAD9D3;
                    }
                }
            }

            .active-box {
                background-color: #F9D783;
            }
        }

        .btn-parent {
            padding-bottom: 90px;

            .btn-outline {
                width: fit-content;
                font-weight: 400;
                margin-top: 35px;

                @media (min-width: 500px) {
                    width: 300px;
                }
            }
        }
    }
}

.why-choose-us {
    position: relative;

    .background-box {
        display: none;

        @media (min-width:1600px) {
            display: block;
            position: absolute;
            background-color: #F0EFE9;
            height: 430px;
            width: 55%;
            bottom: 0px;
            right: 0;
            z-index: -1;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @media (min-width: 1600px) {
            flex-direction: row;
            align-items: start;
            gap: 200px;
        }

        .left {
            padding: 15px;

            @media (min-width:1600px) {
                padding: 0;
                flex: 1.5;
                display: overflow;
            }

            .section-title {
                width: fit-content;
                padding: 15px;
                text-align: center;

                @media (min-width: 1600px) {
                    margin-bottom: 0px;
                    text-align: left;
                    margin-top: 60px;
                }

                h2 {
                    font-size: 28px;

                    @media (min-width: 1600px) {
                        font-size: 45px;
                    }
                }
            }

            .why {
                width: fit-content;
                margin: auto;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "icon1"
                    "argument1"
                    "icon2"
                    "argument2"
                    "icon3"
                    "argument3"
                    "icon4"
                    "argument4";

                @media (min-width:500px) {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    grid-template-areas:
                        "icon1 argument1"
                        "icon2 argument2"
                        "icon3 argument3"
                        "icon4 argument4";
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                }


                @media (min-width:1600px) {
                    justify-content: initial;
                }


                .icon {
                    border: 1px solid #F0EFE9;
                    border-radius: 50px;
                    height: 55px;
                    width: 55px;
                    position: relative;
                    margin: 0 auto;


                    i {
                        position: absolute;
                        bottom: 20px;
                        left: 20px;

                    }

                    &:hover {
                        background-color: #191919;
                        border: 1px solid #ffffff;
                        color: #ffffff;
                    }
                }

                #icon1 {
                    grid-area: icon1;
                }

                #icon2 {
                    grid-area: icon2;
                }

                #icon3 {
                    grid-area: icon3;
                }

                #icon4 {
                    grid-area: icon4;
                }

                .argument {
                    h3 {
                        margin-top: 20px;
                        font-family: 'DM sans', 'sans-serif';
                        font-size: 22px;
                        font-weight: 700;
                        text-align: center;

                        @media (min-width:500px) {
                            text-align: left;
                        }

                    }

                    p {
                        font-size: 0.8em;
                        text-align: center;

                        @media (min-width:500px) {
                            text-align: left;
                        }

                        @media (min-width:850px) {
                            font-size: 1em;
                        }
                    }
                }

                #argument1 {
                    grid-area: argument1;
                }

                #argument2 {
                    grid-area: argument2;
                }

                #argument3 {
                    grid-area: argument3;
                }

                #argument4 {
                    grid-area: argument4;
                }

            }
        }

        .right {
            display: none;

            @media (min-width:1600px) {
                display: block;
                position: relative;
                flex: 2;
            }

            .chooseus-image {
                display: none;

                @media (min-width:1600px) {
                    display: block;
                    position: absolute;
                    left: -10px;
                    top: 160px;
                }
            }


        }
    }


}

.projectandcase {
    padding: 30px;

    .container {
        padding: 30px 0;

        .section-title {
            text-align: center;

            h2 {
                font-size: 28px;

                @media (min-width: 650px) {
                    font-size: 45px;
                }
            }
        }

        .projects {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 850px) {
                grid-template-columns: 1fr 1fr;
            }

            article {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM sans', 'sans-serif';
                    font-size: 16px;
                    padding-top: 15px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #DAD9D3;

                    @media (min-width:500px) {
                        font-size: 22px;
                        padding-top: 35px;
                        padding-bottom: 16px;
                    }
                }

                a {
                    display: block;
                    text-align: right;
                    font-family: 'Inter', 'sans-serif';
                    font-size: 14px;
                    font-weight: 500;
                    color: #191919;
                    text-decoration: none;

                    @media (min-width:500px) {
                        padding: 15px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    i {
                        margin-left: 3px;
                    }


                }
            }
        }

        .btn-parent {
            .btn-dark {
                color: white;
                margin-top: 50px;

                @media (min-width:350px) {
                    width: 250px;
                }


                &:hover {
                    background-color: #535353;
                }

                i {
                    margin-left: 10px;
                }

            }
        }
    }
}

.our-team {
    background-color: #F0D082;

    .container {
        .upper {
            display: flex;
            flex-direction: column;

            @media (min-width: 1400px) {
                justify-content: space-between;
                align-items: end;
                flex-direction: row;
            }

            .section-title {
                text-align: center;

                @media (min-width: 1400px) {
                    text-align: left;
                }

                h2 {
                    font-size: 28px;

                    @media (min-width: 1400px) {
                        font-size: 45px;
                    }
                }
            }

            .button-team {
                text-align: center;
                padding-bottom: 90px;

                .btn-outline {
                    height: 50px;
                    border-radius: 50px;
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 35px;

                    @media (min-width:500px) {
                        width: 400px;
                    }

                    @media (min-width: 1300px) {
                        width: 200px;
                        height: 50px;
                    }

                    i {
                        margin-left: 10px;
                    }

                }
            }
        }

        .images-team {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            @media (min-width: 1400px) {
                flex-direction: row;
                justify-content: space-around;
            }

            .team-intro {
                display: none;

                @media (min-width:1400px) {
                    display: block;
                }

                h3 {
                    margin-top: 20px;
                    font-family: 'DM sans', 'sans-serif';
                    font-size: 22px;
                    font-weight: 700;
                }
            }

            #active-team {
                display: block;

                #active-img {
                    width: 70vw;

                    @media (min-width:1000px) {
                        width: 40vw;
                    }

                    @media (min-width:1400px) {
                        width: 100%;
                    }
                }
            }

            #active-team2 {
                display: block;

                #active-img2 {
                    width: 70vw;

                    @media (min-width:1000px) {
                        width: 40vw;
                    }

                    @media (min-width:1400px) {
                        width: 100%;
                    }
                }
            }
        }

        .dots {
            padding-top: 50px;
            text-align: center;
        }
    }
}

.testimonial {
    background-color: #F0D082;
    padding: 30px 30px 150px 30px;

    .white-box {
        background-color: white;
        max-width: 1700px;
        max-height: fit-content;
        margin: auto;

        @media (min-width: 400px) {
            padding: 0px 30px 100px 30px;
        }

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .section-title {
                text-align: center;

                h2 {
                    font-size: 28px;

                    @media (min-width: 1600px) {
                        font-size: 45px;
                    }
                }
            }

            .testimonials-from-customers {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: fit-content;

                @media (min-width: 1300px) {
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 20px;
                    gap: 100px;
                }

                .customer {
                    margin-top: 50px;
                    text-align: left;

                    @media (min-width:1300px) {
                        width: auto;
                    }

                    img {
                        margin-bottom: 20px;
                    }

                    .reviews {
                        margin-bottom: 30px;
                        font-size: 12px;

                        @media (min-width: 500px) {
                            padding-right: 50px;
                            font-size: 16px;
                        }
                    }

                    .flex-image-text {
                        display: grid;
                        grid-template-columns: fit-content fit-content;
                        grid-template-areas:
                            "img text";

                        justify-content: left;

                        .testimonial-img {
                            grid-area: img;
                            margin-right: 10px;
                            display: none;

                            @media (min-width:500px) {
                                display: block;
                            }
                        }

                        .grid-text {
                            grid-area: text;



                            h3 {
                                margin: 0;
                                font-size: 16px;

                                @media (min-width:450px) {
                                    font-size: 22px;
                                }
                            }

                            .title {
                                font-size: 14px;

                                @media (min-width:450px) {
                                    font-size: 16px;
                                }
                            }
                        }


                    }
                }
            }
        }

        .btn-dark {
            color: white;
            width: fit-content;
            padding: 10px;
            border: none;
            display: block;
            margin: auto;
            margin-bottom: 50px;

            @media (min-width:500px) {
                width: 180px;
            }

            &:hover {
                background-color: #535353;
            }

            i {
                margin-left: 10px;
            }

        }
    }
}

.article-news {
    padding: 30px;
    padding-bottom: 70px;

    .container {

        .upper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            @media (min-width:1600px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
            }

            .section-title {
                margin-bottom: 0;

                h2 {
                    font-size: 28px;

                    @media (min-width: 1600px) {
                        font-size: 45px;
                    }
                }
            }


            .btn-parent {
                text-align: right;

                .btn-outline {
                    font-weight: 400;
                    margin-top: 35px;

                    @media (min-width:500px) {
                        max-width: 400px;
                    }

                    @media (min-width: 1300px) {
                        width: 200px;
                        height: 50px;
                    }

                    i {
                        margin-left: 10px;
                    }

                }
            }
        }


        .show-articles {
            display: grid;
            grid-template-columns: 1fr;
            gap: 70px;
            width: fit-content;
            margin: auto;

            @media (min-width: 1600px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .article {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;

                .img-and-date {
                    position: relative;
                    width: fit-content;


                    .img-news {
                        display: none;
                        margin: auto;

                        @media (min-width: 500px) {
                            display: block;
                        }
                    }

                    .date {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        display: none;

                        @media (min-width: 500px) {
                            display: block;
                        }
                    }
                }





            }
        }

        .dots {
            padding-top: 50px;
            text-align: center;
        }
    }
}

.newsletter {
    background-color: #F0EFE9;
    position: relative;
    padding: 50px;
    align-items: center;

    @media (min-width: 1600px) {
        padding: 90px;
    }

    .background-lines-right {
        display: none;

        @media (min-width: 1600px) {
            display: block;
            position: absolute;
            bottom: 50px;
            right: 0;

        }
    }

    .container {
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 950px) {}

        @media (min-width:1600px) {
            justify-content: space-between;
            flex-direction: row;
        }

        form {
            align-items: center;

            input {
                padding: 14px 30px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #DAD9D3;
                font-family: 'inter', 'sans-serif';
                font-size: 16px;
                text-decoration: none;
                color: #191919;
            }

            .btn-yellow {
                margin-top: 15px;

                @media (min-width:800px) {
                    max-width: 350px;
                    margin-top: 0;
                }

                @media (min-width: 1300px) {
                    width: 200px;
                    height: 50px;

                    margin-left: 15px;
                }

                i {
                    margin-left: 10px;
                }

                &:hover {
                    background-color: #ffffff;
                    color: #191919;
                }
            }

        }
    }

    .section-title {
        text-align: center;
        padding: 0px;

        @media (min-width: 1600px) {
            text-align: left;
        }

        h2 {
            font-size: 28px;

            @media (min-width: 1600px) {
                font-size: 45px;
            }

        }
    }
}

footer {
    background-color: #0E1021;
    color: #DAD9D3;
    height: fit-content;
    position: relative;
    padding-top: 90px;
    padding-bottom: 0.5%;


    .position-line-img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        margin: 35px 0;
        display: none;

        .border-line {
            border: 1px solid #8b8989;
            width: 100vw;
            position: absolute;
            bottom: 99px;
            right: 0;

            @media (min-width:1400px) {
                bottom: 80px;
            }
        }

        .background-lines {
            opacity: 70%;
            max-width: 100vw;
            position: absolute;
            bottom: 100px;
            right: 0;
            z-index: -1;

            @media (min-width:1400px) {
                bottom: 81px;
            }
        }

        @media (min-width:500px) {
            margin: 15px;
            display: block;
        }

        @media (min-width:800px) {
            margin: 0px;
        }

    }


    .container {
        padding: 30px;
        padding-bottom: 0px;

        @media (min-width:850px) {
            padding: 70px 0;
            padding-bottom: 0px;
        }

        .upper-pt {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "logo"
                "company"
                "help"
                "resources"
                "link";
            gap: 30px;
            text-align: center;

            @media (min-width:850px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas:
                    "logo logo"
                    "company help"
                    "resources link";
                column-gap: 35px;
            }

            @media (min-width:1400px) {
                grid-template-columns: repeat(6, fit-content);
                grid-template-rows: auto;
                grid-template-areas:
                    "logo logo company help resources link";

                column-gap: 35px;
            }

            .logo {
                grid-area: logo;
                margin-right: 0px;

                @media (min-width:850px) {
                    margin-right: 40px;
                    text-align: left;
                }

                p {
                    margin-top: 0px;


                    @media (min-width:850px) {
                        margin-right: 30px;
                    }

                    @media (min-width:1400px) {
                        padding-right: 120px;
                    }
                }

                .logo-img {
                    display: flex;
                    justify-content: center;

                    @media (min-width:1400px) {
                        justify-content: left;
                    }
                }

                .about-us-text {
                    margin-top: 30px;
                    text-align: center;

                    @media (min-width:1400px) {
                        text-align: left;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }

            .informative-text {
                margin-right: 0px;

                @media (min-width:850px) {
                    margin-right: 30px;
                    text-align: left;
                }

                a {
                    text-decoration: none;
                    color: #DAD9D3;

                    &:hover {
                        text-decoration: underline;
                    }

                    p {
                        text-align: center;

                        @media (min-width:1400px) {
                            text-align: left;
                        }
                    }
                }

                h3 {
                    text-align: center;
                    margin-bottom: 30px;

                    @media (min-width:1400px) {
                        text-align: left;
                    }
                }
            }

            #company {
                grid-area: company;
            }

            #help {
                grid-area: help;
            }

            #resources {
                grid-area: resources;
            }

            #link {
                grid-area: link;
            }
        }


        .lower-pt {
            margin: 20px;

            @media (min-width:1400px) {
                margin-top: 100px;
                align-items: end;
            }


            .flex {
                display: flex;
                flex-direction: column;
                text-align: center;

                @media (min-width:1400px) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                }


                p {
                    margin: 15px;

                    @media (min-width:1400px) {
                        margin: 0px;
                    }
                }

                .social-media {
                    padding: 0px;

                    a {
                        margin-right: 15px;
                        text-decoration: none;
                        color: #DAD9D3;

                        &:hover {
                            color: #666666;
                        }
                    }

                }
            }

        }
    }
}