@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,900&family=Inter:wght@300;400;500;600;700&display=swap");
html,
body {
  height: 100%;
  width: 100vw;
  color: #191919;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-title {
  margin-top: 120px;
  margin-bottom: 90px;
}
.section-title .title {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 400;
}
.section-title p {
  line-height: 2;
}
.section-title h2 {
  font-family: "DM sans", "Sans Serif";
  font-size: 45px;
  color: #191919;
  font-weight: 700;
}

.informative-text h3 {
  font-family: "DM sans", "sans-serif";
  font-size: 22px;
  font-weight: 700;
}
.informative-text h4 {
  font-family: "DM sans", "sans-serif";
  font-size: 16px;
}
.informative-text p {
  font-family: "inter", "sans-serif";
  font-size: 16px;
}

.round-button {
  border: 1px solid #191919;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.btn-yellowa {
  background-color: #F9D783;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 500px) {
  .btn-yellowa {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .btn-yellowa {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 30px;
    text-align: center;
  }
}
.btn-yellowa i {
  margin-left: 10px;
}
.btn-yellowa:hover {
  background-color: #f4e4bc;
}

header {
  background-color: #F0EFE9;
  padding-top: 12px;
}
header .container {
  display: flex;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
  justify-content: flex-end;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    justify-content: space-between;
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box .i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border-right: none;
}
header .container .menu .top-menu .social-media a {
  font-size: 1.3rem;
  color: #191919;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1000px) {
  header .container .menu .main-menu {
    justify-content: space-between;
  }
}
header .container .menu .main-menu nav {
  margin-top: 15px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  text-decoration: none;
  color: #191919;
  margin-right: 30px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu button {
  background-color: #F9D783;
  min-width: 125px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 50px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
}
header .container .menu .main-menu button:hover {
  background-color: #f4e4bc;
}

.showcase {
  background-color: #F0EFE9;
  padding-top: 100px;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: center;
}
.showcase .container .content {
  display: inline-block;
}
.showcase .container .content .slogan-showcase h1 {
  font-family: "DM sans", "sans-serif";
  font-size: 30px;
  text-align: center;
}
@media (min-width: 500px) {
  .showcase .container .content .slogan-showcase h1 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content .slogan-showcase h1 {
    font-size: 90px;
  }
}
@media (min-width: 1500px) {
  .showcase .container .content .slogan-showcase h1 {
    text-align: left;
    font-size: 90px;
  }
}
.showcase .container .content .slogan-showcase p {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  opacity: 70%;
  text-align: center;
}
@media (min-width: 1450px) {
  .showcase .container .content .slogan-showcase p {
    text-align: left;
  }
}
.showcase .container .content .buttons-showcase {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
@media (min-width: 1450px) {
  .showcase .container .content .buttons-showcase {
    text-align: left;
  }
}
.showcase .container .content .buttons-showcase .btn-yellow {
  background-color: #F9D783;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 500px) {
  .showcase .container .content .buttons-showcase .btn-yellow {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content .buttons-showcase .btn-yellow {
    margin-left: 0px;
    margin-right: 30px;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .showcase .container .content .buttons-showcase .btn-yellow {
    width: 200px;
    height: 50px;
  }
}
.showcase .container .content .buttons-showcase .btn-yellow i {
  margin-left: 10px;
}
.showcase .container .content .buttons-showcase .btn-yellow:hover {
  background-color: #f4e4bc;
}
.showcase .container .content .buttons-showcase .btn-outline {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 500px) {
  .showcase .container .content .buttons-showcase .btn-outline {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content .buttons-showcase .btn-outline {
    margin-left: 0px;
    justify-content: center;
  }
}
@media (min-width: 1300px) {
  .showcase .container .content .buttons-showcase .btn-outline {
    width: 200px;
    height: 50px;
  }
}
.showcase .container .content .buttons-showcase .btn-outline i {
  margin-left: 10px;
}
.showcase .container .content .buttons-showcase .btn-outline:hover {
  background-color: #e3e3e3;
  color: #191919;
}
.showcase .container img {
  display: none;
  align-items: end;
  margin-right: -50px;
}
@media (min-width: 1300px) {
  .showcase .container img {
    display: block;
  }
}

.brands .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 500px) {
  .brands .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1300px) {
  .brands .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.brands .container img {
  height: auto;
  width: auto;
  margin: auto;
}
@media (min-width: 1300px) {
  .brands .container img {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .brands .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brands .container img {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.features .container {
  border: 1.5px solid #DAD9D3;
}
@media (min-width: 1200px) {
  .features .container {
    display: flex;
    justify-content: center;
  }
}
.features .container .section-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .features .container .section-title {
    display: inline-block;
    text-align: left;
    padding-left: 50px;
    margin-right: 50px;
  }
}
.features .container .section-title p {
  text-align: center;
}
@media (min-width: 1200px) {
  .features .container .section-title p {
    text-align: left;
  }
}
.features .container .section-title h2 {
  text-align: center;
}
@media (min-width: 1200px) {
  .features .container .section-title h2 {
    text-align: left;
  }
}
.features .container .section-title .btn-yellow {
  background-color: #F9D783;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media (min-width: 500px) {
  .features .container .section-title .btn-yellow {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .features .container .section-title .btn-yellow {
    width: 480px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-left: 0px;
    margin-right: 30px;
    text-align: center;
  }
}
.features .container .section-title .btn-yellow i {
  margin-left: 10px;
}
.features .container .section-title .btn-yellow:hover {
  background-color: #f4e4bc;
}
.features .container .grid-features {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .features .container .grid-features {
    -moz-column-gap: 110px;
         column-gap: 110px;
    margin-right: 150px;
    padding-top: 100px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.features .container .grid-features .informative-text {
  margin: auto;
  margin-bottom: 50px;
}
.features .container .grid-features .informative-text i {
  text-align: left;
  font-size: 30px;
}
.features .container .grid-features .informative-text h3 {
  margin-top: 30px;
}
.features .container .grid-features .informative-text p {
  font-weight: 400;
}

.aboutcompany .container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1400px) {
  .aboutcompany .container {
    flex-direction: unset;
  }
}
.aboutcompany .container .left-img {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
@media (min-width: 1400px) {
  .aboutcompany .container .left-img {
    margin-left: 100px;
    display: block;
  }
}
.aboutcompany .container .left-img div {
  display: flex;
  justify-content: center;
}
.aboutcompany .container .left-img div img {
  max-width: 500px;
}
.aboutcompany .container .left-img .informative-text {
  background-color: #BEEBFF;
  text-align: left;
  display: inline;
  position: absolute;
  bottom: 0px;
  left: 355px;
  max-width: 400px;
  padding: 30px;
}
@media (min-width: 1400px) {
  .aboutcompany .container .left-img .informative-text {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    bottom: 280px;
    left: -50px;
    width: 340px;
    height: 180px;
    align-items: center;
    justify-content: flex-start;
  }
}
.aboutcompany .container .left-img .informative-text h4 {
  color: #F94D1C;
}
.aboutcompany .container .section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding: 50px;
}
@media (min-width: 1400px) {
  .aboutcompany .container .section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    padding-left: 70px;
  }
}
.aboutcompany .container .section-title h2 {
  font-size: 22px;
}
@media (min-width: 500px) {
  .aboutcompany .container .section-title h2 {
    font-size: 45px;
  }
}
@media (min-width: 1400px) {
  .aboutcompany .container .section-title h2 {
    padding-right: 120px;
    margin-top: 20px;
  }
}
.aboutcompany .container .section-title p {
  opacity: 70%;
}
@media (min-width: 1400px) {
  .aboutcompany .container .section-title p {
    padding-right: 50px;
    margin-top: 30px;
  }
}
.aboutcompany .container .section-title .about-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: auto;
  margin-top: 120px;
}
.aboutcompany .container .section-title .about-btn .btn-dark {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 500px) {
  .aboutcompany .container .section-title .about-btn .btn-dark {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .aboutcompany .container .section-title .about-btn .btn-dark {
    margin-left: 0px;
    margin-right: 30px;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .aboutcompany .container .section-title .about-btn .btn-dark {
    width: 200px;
    height: 50px;
  }
}
.aboutcompany .container .section-title .about-btn .btn-dark i {
  margin-left: 10px;
}
.aboutcompany .container .section-title .about-btn .round-button:hover {
  background-color: #191919;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.aboutcompany .container .section-title .about-btn a {
  color: #191919;
  text-decoration: none;
}
.aboutcompany .container .section-title .about-btn a:hover {
  color: #bebebe;
}

.our-services {
  background-color: #F0EFE9;
  position: relative;
}
@media (min-width: 1400px) {
  .our-services {
    padding: 20px;
  }
}
.our-services .background-lines-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.our-services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1400px) {
  .our-services .container {
    display: block;
  }
}
.our-services .container .boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1400px) {
  .our-services .container .boxes {
    flex-direction: row;
  }
}
.our-services .container .boxes .box {
  background-color: #FFFFFF;
  position: relative;
  height: 310px;
  width: 380px;
  padding: 35px;
  margin-right: 30px;
}
.our-services .container .boxes .box h3 {
  margin-top: 20px;
  font-family: "DM sans", "sans-serif";
  font-size: 22px;
  font-weight: 700;
}
.our-services .container .boxes .box p {
  row-gap: 5px;
  font-family: "inter", "sans-serif";
  font-size: 16px;
}
.our-services .container .boxes .box .round-button {
  background-color: #191919;
  color: #DAD9D3;
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 55px;
  height: 55px;
}
.our-services .container .boxes .box .round-button:hover {
  background-color: #e3e3e3;
  color: #191919;
}
.our-services .container .boxes .box .active-btn {
  background-color: #ffffff;
  color: #191919;
  border: none;
}
.our-services .container .boxes .active-box {
  background-color: #F9D783;
}
.our-services .container .btn-parent {
  text-align: center;
  padding-bottom: 90px;
}
.our-services .container .btn-parent .btn-outline {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 35px;
}
@media (min-width: 500px) {
  .our-services .container .btn-parent .btn-outline {
    max-width: 400px;
  }
}
@media (min-width: 1300px) {
  .our-services .container .btn-parent .btn-outline {
    width: 200px;
    height: 50px;
  }
}
.our-services .container .btn-parent .btn-outline i {
  margin-left: 10px;
}
.our-services .container .btn-parent .btn-outline:hover {
  background-color: #e3e3e3;
  color: #191919;
}

.projectandcase .container .section-title {
  text-align: center;
}
.projectandcase .container .projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .projectandcase .container .projects {
    grid-template-columns: 1fr 1fr;
  }
}
.projectandcase .container .projects article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.projectandcase .container .projects article img {
  width: 100%;
  height: auto;
}
.projectandcase .container .projects article h3 {
  font-family: "DM sans", "sans-serif";
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.projectandcase .container .projects article a {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
}
.projectandcase .container .projects article a:hover {
  text-decoration: underline;
}
.projectandcase .container .projects article a i {
  margin-left: 3px;
}
.projectandcase .container .btn-dark {
  font-size: 16px;
  color: white;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.projectandcase .container .btn-dark:hover {
  background-color: #535353;
}
.projectandcase .container .btn-dark i {
  margin-left: 10px;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 70px;
}
.newsletter .background-lines-right {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.newsletter .container {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container form input {
  padding: 15px 30px;
  border-radius: 25px;
  margin-right: 20px;
  outline: none;
  border: 1px solid #DAD9D3;
  margin-right: 20px;
  font-family: "inter", "sans-serif";
  font-size: 16px;
  text-decoration: none;
  color: #191919;
}