html,
body {
  height: 100%;
}

nav {
  background-color: #F0EFE9;
}
nav .nav-parent {
  display: flex;
}
nav .nav-parent .nav-child {
  display: flex;
  list-style: none;
  font-style: normal;
  text-decoration: none;
}
nav .nav-parent .nav-child li {
  margin: 10px;
}
nav .nav-parent .nav-child li a {
  text-decoration: none;
  color: black;
}
nav .nav-parent .nav-child p {
  margin: 10px;
}
nav .nav-parent #info1 {
  flex: 1;
}
nav .nav-parent #info2 {
  flex: 2;
}
nav .nav-parent #info3 {
  flex: 3;
}
nav .nav-parent #navbar {
  display: flex;
  flex-direction: row;
  align-items: end;
}
nav .nav-parent #nav-contact-info {
  display: flex;
  flex-direction: row;
  align-items: start;
  max-width: -moz-min-content;
  max-width: min-content;
  max-height: -moz-min-content;
  max-height: min-content;
}

header {
  background-color: #F0EFE9;
}
header .parent {
  display: flex;
  justify-content: center;
}
header .parent .child {
  display: flex;
  flex: 1;
}
header .parent #header-slogan {
  font-family: "DM sans", "sans-serif";
}
header .parent #header-img {
  height: 600px;
  align-items: end;
}